<!doctype HTML>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>OutlookCalendarIntegrator</title>
</head>
<body>
  <h1>Welcome to OutlookCalendarIntegrator</h1>

  <p>{{ message }}</p>

  <footer>
    <a href="{{ url_for('auth_bp.logout') }}">Log out</a>
  </footer>
</body>
</html>